/* Generales */
/* Fondos */
.fondo-blanco{
    background-color: rgba(255, 255, 255, 0.26);
}
.fondo-negro{
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 20px;
}
.fondo-naranja-fuerte{
    background-color: rgba(255, 68, 0, 0.548);
}
.fondo{
    background-image: url('https://www.hdfondos.org/file/9247/728x410/16:9/perrito-en-la-hierba-mirada_113935508.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}
    /* navbar */
        .orange{
            background-color: rgb(243, 165, 137);/*rgb(255, 251, 0);*/
        }
        .animacion-item-nav:hover{
            background-color: white;
            border-radius: 20px;

        }
/* Fuentes */
.logo{
    font-family: 'Ranchers', cursive;
}
.negrita{
    font-weight: bold;
}